            <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                <svg id="i-close" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M2 30 L30 2 M30 30 L2 2" /></svg>
            </a>
            
            {% for page in site.data.show-in-menu %}
                {% if forloop.index == 1 %}
                    <a href="{{ page.link }}" {% if page.external %} target = "_blank" rel = "nonopener" {% endif %}><h2>{{ page.name }}</h2></a>
                {% else %}
                    <a class="page-link" href="{{ page.link | prepend: site.baseurl }}" {% if page.external %} target = "_blank" rel = "nonopener" {% endif %}>
                        {{ page.name }}
                    </a>
                {% endif %}
            {% endfor %}      
            </div>